body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.experiment_button {
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.col_centered {
    float: none;
    margin: 0 auto;
}

.main_jumbo {
    box-shadow: rgba(0, 0, 0, 0.34) 2px 2px 4px -1px;
}

.transparant {
    background-color: #ffffff00!important;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0)!important;

}

#coordinates {
    
}


#hbutton {
    
}